<header class="page-header-wrap">
	<nav class="main-menu-hover-dropdown">
		<ul>
			<li>
				<a href="/">Nimblecss.com</a>
			</li>
			<li>
				<a href="/quickstart">Quickstart</a>
				<ul>
					<li>
						<a href="#">
							Sample sub-link 1
						</a>
					</li>
					<li>
						<a href="#">
							Sample sub-link 2
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="/philosophy">Philosophy</a>
			</li>
			<li>
				<a href="/components">Components</a>
				<ul>
					<li>
						<a href="/main-menu-hover-dropdown">
							Mega menu hover dropdown
						</a>
					</li>
					<li>
						<a href="#">
							Sample sub-link 2
						</a>
					</li>
				</ul>				
			</li>
			<li>
				<a href="/examples">Examples</a>
			</li>
			<li>
				<a href="/showcase">Showcase</a>
			</li>
		</ul>
	</nav>
</header>