$color: teal;
$highlight-color: lightgray;
$lightest-color: #fff;
$color-dark: scale-color($color, $lightness: -30%);

$transition: 280ms visibility 120ms ease-out;

* {
  box-sizing: border-box;
}

.dropdown__title {
  background-color: transparent;
  border: none;
  font-family: inherit;
}

nav {
  background-color: $color;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  display: grid;
  place-items: center;
  font-family: Arial, sans-serif;

  > ul {
    grid-auto-flow: column;

    > li {
      margin: 0 0.5rem;

      a,
      .dropdown__title {
        text-decoration: none;
        text-align: center;
        display: inline-block;
        color: $lightest-color;
        font-size: 1.125rem;

        &:focus {
          outline: none;
        }
      }

      > a,
      .dropdown__title {
        padding: 1rem 0.5rem;
        border-top: 3px solid transparent;
        transition: $transition;

        &:hover,
        &:focus {
          border-top-color: $highlight-color;
          color: $lightest-color;
        }
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;

    li {
      padding: 0;
    }
  }
}

.dropdown {
  position: relative;

  .dropdown__title {
    display: inline-flex;
    align-items: center;

    &:after {
      content: "";
      border: 0.35rem solid transparent;
      border-top-color: rgba(#fff, 0.45);
      margin-left: 0.25em;
      transform: translateY(0.15em);
    }
  }

  .dropdown__menu {
    position: absolute;
    min-width: 14rem;
    left: 50%;
    top: calc(100% - 0.25rem);
    transition: $transition;
    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top center;
    visibility: hidden;
    opacity: 0.3;
    padding: 0.5em 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0.15em 0.25em rgba(black, 0.25);

    a {
      color: $color-dark;
      display: block;
      padding: 0.5em;
      opacity: 0;
      transition: $transition;

      &:hover {
        background-color: rgba($color, 0.15);
      }

      &:focus {
        outline: none;
        background-color: rgba($color, 0.25);
      }
    }
  }

  &:after {
    content: "";
    border: 0.5rem solid transparent;
    border-bottom-color: $lightest-color;
    position: absolute;
    top: calc(100% - 1.25rem);
    left: 50%;
    transform: translateX(-50%);
    transition: $transition;
    opacity: 0;
    will-change: opacity;
  }

  &:hover,
  &:focus-within {
    .dropdown__title {
      border-top-color: $highlight-color;
    }

    .dropdown__menu {
      opacity: 1;
      transform: rotateX(0) translateX(-50%);
      visibility: visible;

      a {
        opacity: 1;
      }
    }

    &:after {
      opacity: 1;
    }
  }
}
